/* место для вашего кода */
html{
  scroll-behavior: smooth;
}

body {
  width: 1440px;
  margin: auto;
}
/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  align-items: center;
  font-size: 18px;
  color: #000;
  font-style: normal;
}

.header__logo {
  padding-bottom: 4px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  flex-shrink: 0;
}

.header__links-list {
  display: flex;
  gap: 13px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__address {
  display: grid;
  place-self: center end;
  width: 240px;
  height: 97px;
  list-style: none;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}
/*текст ОТН на большой картинке*/
.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  width: 1440px;
  height: 757px;
  position: relative;
  background: url(../images/cover.jpg)no-repeat center #eee;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 0 50px;
  gap: 20px;
  font-size: 100px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
  width: 1280px;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  align-self: end;
 
  flex-direction: row;
  padding-bottom: 50px;
  
  padding-right: 50px;
  gap: 78px;
  z-index: 3;
}

.cover__description-text {
  flex-grow: 1;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}
.bet-button {
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 257px;
  height: 52px;
  padding-top: 12px;
}
/* Лоты */
.lots {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 180px 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom:27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 430px;
  height: 450px;
}

.card__title {
  position: relative;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
}

.card__text {
  position: relative;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 0 40px 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lots__look-more-link {
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 0 0 40px;
  
  
}

.lots__look-more-link-text {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.about {
  display: flex;
  flex-direction: column;
  flex-flow: row nowrap;
  gap: 25px;
  padding: 0 50px;
  height: 487px;

}

.about__column-first {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 240px;
  padding: 0px 95px;
  justify-content: center;
  align-items: center;


}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-size: 100%;
  background-position: center;
  border-radius: 120px;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
  background-position: center;
}

.about__column-second {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  
}

.about__column-second_text-zone {
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}

.footer {
  display: flex;
  padding: 180px 50px 90px 50px;
  align-items: flex-start;
  justify-content: space-between;
  
}

.adress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  width: 240px;
  list-style: none;
}

.footer__address-links  {
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  background-size: cover;
}

.footer__social-icon {
  height: 48px;
}

/*

.header__links-list-item_no-bullit {
  list-style: none;
}



.header__link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__address {
  display: grid;
  place-self: center end;
  width: 240px;
  height: 97px;
  list-style: none;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
} */